// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //


// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { 
  background: white; 
}

html { 
  height: 100%; 
}

body {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  // line-height: 1.4;
  margin: 0;
  min-height: 100%;
  // overflow-wrap: break-word;
}

h2, h3, h4, h5, h6 { 
  margin-top: 3rem; 
}

hr { 
  margin: 2rem 0; 
}

p { 
  margin: 1rem 0; 
}

p img {
  margin-top: 25px;
}

li { 
  margin: 0.4rem 0; 
}

*:target { 
  background: yellow; 
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { 
  width: 100%; 
}

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { 
    margin: 0; 
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

article p {
  margin: 25px 0;
  line-height: 1.8;
}

article img {
  /* 图片和背景都是白色，加上阴影以区分边际 */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.w {
  max-width: 480px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.post-meta { 
  text-align: left; 
  color: lightgray;
}

.large-heading {
  font-size: 2rem;
  margin: 2rem 0 0.8rem 0;
}

.copyright {
  font-size: 14px;
  text-align: center;
  color: #777;
  margin: 4rem 0;
}