---
layout: default
---
<div class="home-main">
  <header>
    <h1>{{ site.title }}</h1>
    {%-if site.theme_config.show_description-%}
      <p>{{ site.description }}</p>
    {%-endif-%}
  </header>

  {%-include menu_item.html collection=site.data.menu.entries-%}

  {{ content }}

  <div class="copyright">
    Copyright &copy; Hao Wen {{ site.time | date: '%Y' }}
    <!-- <br>
    <a href="https://beian.miit.gov.cn/" rel="noreferrer" target="_blank">京ICP备2023022098号</a>
    <br>
    <a href="https://beian.mps.gov.cn/#/query/webSearch?code=11011202100263" rel="noreferrer" target="_blank">京公网安备11011202100263</a> -->
  </div>
</div>

