---
layout: default
---
<div class="home-main">
  <header>
    <div class="title">{{ site.title }}</div>
    {%-if site.theme_config.show_description-%}
      <p>{{ site.description }}</p>
    {%-endif-%}
  </header>

  {%-include menu_item.html collection=site.data.menu.entries-%}

  {{ content }}

  <div class="copyright">
    Copyright &copy; Wen Hao {{ site.time | date: '%Y' }}
    <br>
    <a href="https://beian.miit.gov.cn/" rel="noreferrer" target="_blank">京ICP备2023022098号-2</a>
    <br>
    <a href="https://beian.mps.gov.cn/#/query/webSearch?code=11011202100902" rel="noreferrer" target="_blank"> <img class="logos" src="/img/beian_icon.png" width="10" style="display: inline; margin: 0 2px;">京公网安备11011202100902</a>
  </div>
</div>

